.aboutus_content
  .title
    %h1 About us

  .about_body

    %h2 Our mission

    .text
      %p
        When we came together in the Fall of 2016, we set out to become web developers.
        We had varying degrees of coding prowess, but soon we were able to work in harmony
        as a web development team, creating a fully functional project based in Ruby.
      %p
        We developed the LASER project, a search engine for Ruby gems.
        This project is open-source, and welcomes contributions from the Ruby community.


    %h2 Main contributors of this project

    .text
      %p
        When we began, we came from a variety of different backgrounds.
        Some of us were students in Physics and Management, some of us were professionals
        working for 15 years. What we all shared in common was a desire to become web
        developers and a desire to develop ourselves.

      %p
        We are a group of up-and-coming developers from all over the world:
        Brazil, Romania, Hungary, Great Britain and Italy.
        In taking this course, we are devoting months to the art of coding,
        to better understand the craft and to be able to enter ​​the​ open source​ world
        and help build great applications.

  .person
    .pic
      = link_to(image_tag("icontorsten.png", class: "img"),'https://github.com/dancinglightning', :target => "_blank")
    .name
      Torsten Ruger
      .text
        %p is the co-founder of WebDev.Camp. He has taught Ruby programming at Helsinki
        University of Technology and has 20 years of professional developer experience.
        He started this program to teach a new generation of coders the skills they need
        to succeed and excel in the field. He loves vegan food and exploring nature and
        the outdoors.
    .pic
      = link_to(image_tag("iconalice.jpg", class: "img"),'https://github.com/scripttease', :target => "_blank")
    .name
      Alice Dee
      .text
        %p
          has a degree in physical chemistry from King’s College and worked as a researcher
          in ​Antarctica​ and at a reactor in Grenoble. She has a passion for back-end
          development and a good analytic instinct for coding. Her hobbies include
          unicorning and hula-hooping.
    .pic
      = link_to(image_tag("iconfrancesca.jpg", class: "img"),'https://github.com/fragioli', :target => "_blank")
    .name
      Francesca Fagioli
      .text
        %p
          is a student of Digital Communication at the University of Milan.
          She has a good attention to detail, a real eye for design and a knack for
          front-end development. She has a warm heart and always gives a helping hand
          whenever possible.
    .pic
      = link_to(image_tag("iconioana.jpg", class: "img"),'https://github.com/alexanderspace100', :target => "_blank")
    .name
      Ioana Rosu
      .text
        %p
          has been working in law for 10 years and decided to take a leap of faith to
          become a web developer. She has picked up back-end and front-end capabilities
          and hopes to break into the industry as a full-stack developer.
          She has a dry sense of humor and is perfectionist when it comes to her coding.
    .pic
      = link_to(image_tag("iconpatricia.jpg", class: "img"),'https://github.com/pbuchnersantos', :target => "_blank")
    .name
      Patricia Bucher Santos
      .text
        %p
          is a recent graduate  of Computer Science and Management from the University of
          Nottingham. She has a multicultural background and a colorful personality.
          She has recently discovered that her strengths are front-end development,
          Bootstrap and SUSY.
    .pic
      = link_to(image_tag("iconzita.jpg", class: "img"),'https://github.com/szekelyzita', :target => "_blank")
    .name
      Zita Székely
      .text
        %p
          has been working on mobile development projects in Finland for the past 15 years.
          She was missing the core tenants of coding for development, and came to WebDev.Camp
          to fill in the gaps in her knowledge. She plans organize a Rails Girls event to give
          back to the community where she started coding.
