.aboutus_content
  .title
    %h1 About us

  .about_body
    .t
      %h2 Introduction

    %p On a sunny day in the fall of 2016 we all came to Finland to pursue a dream and become a web developer in WebDev.Camp
    %p text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text

    .t
      %h2 Who we are

    %p We are 5 cool chicks who decided to change the world one day at the time and we are starting with THIS Ruby application.
    %p text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text

    .t
      %h2 Our mission

    %p We are coming to take over the WORLD of Ruby!!!
    %p text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text

    .us
      .t
        %h2 Main contributors of this project

.nested_images
  .n
    %p Torsten
    = image_tag "icontorsten.png"
    
  .n
    %p Alice
    = image_tag "iconalice.png"

  .n
    %p Francesca
    = image_tag "iconfrancesca.png"

  .n
    %p Zita
    = image_tag "iconzita.png"

  .n
    %p Ioana
    = image_tag "iconioana.png"

  .n
    %p Patricia
    = image_tag "iconpatricia.png"
