.faq_content
  %h1 FAQ
  %p= link_to "Who made this?" , "#who"
  %p= link_to "Can i add a tag to gem?" , "#tag"
  %p= link_to "Who are the owners of a gem?" , "#owners"
  %p= link_to "How do you calculate the ranking?" , "#ranking"


  %h2 Answers

  .q#who
    Who made this?
  %p
    Laser was started by the first cohort (temple of code), at
    = ext_link "Web Dev Camp," , "http://webdev.camp"
    and is maintained as an open source project by Web Dev Camp.
    Read more on the
    =link_to 'about us', about_path
    page.

  .q#comment
    Can i add a tag to gem?
  %p
    Yes, anyone logged in may add tags. Thoughtfully though, as there is no way to remove
    them yet.

  .q#owners
    Who are the owners of a gem?
  %p
    RubyGems.org determines the primary owners of a gem. If a user log's in with the same
    email (and verifies it), he will automatically be assigned as owner of his gems. Please
    mail us if this is not so.
    %br
    Additionally, if the gem is hosted on github, persons with commit right to the repository
    will also be considered owner.

  .q#ranking
    How do you calculate the ranking
  %p
    Ranking is calculated by weighing the different attributes and scaling to 100.
    The exact algorithm is
    = ext_link "here." , "https://github.com/webdev-camp/laser/blob/master/lib/ranking.rb#L42"
