.announcement_form
  = simple_form_for(@announcement, html: { class: 'form-horizontal' }) do |f|
    - if @announcement.errors.any?
      #error_explanation
        %h2= "#{pluralize(@announcement.errors.count, "error")} prohibited this announcement from being saved:"

    = f.input :title
    = f.input :body, input_html: { rows: "10" }
    = f.button :submit
