%h1 Announcements
%br
= link_to 'New Announcement', new_announcement_path

- @announcements.each do |announcement|
  .ui.segments
    .ui.segment
      %b= announcement.title
      //TODO if is admin
      .floating.ui.teal.label
        = link_to edit_announcement_path(announcement) do
          %i.edit.icon
    .ui.secondary.segment
      = truncate(announcement.body, length: 500, separator: ' ', omission: '... ') do
        = link_to 'more', announcement
