%p#notice= notice
.announcement_show
  = link_to 'Edit', edit_announcement_path(@announcement), class: 'btn btn-primary'
  .card
    %h3.card-header
      = @announcement.title
      %small.text-muted.date
        = time_ago_in_words @announcement.created_at
        ago
    .card-block
      %p.card-text= @announcement.body
  = link_to 'Go back', announcements_path, class: 'btn btn-primary'
