%p#notice= notice
.announcement_show
  .card
    .card-header
      %h3= @announcement.title
      %p
        = time_ago_in_words @announcement.created_at
        ago
    .card-block
      %p.card-text
        = @announcement.body
      = link_to 'Go back', announcements_path, class: 'btn laser-back'


      //btn btn-primary'
