%h1 Editing tag

= simple_form_for(@tag , url: tag_path(@tag)) do |f|
  - flash.each do |name, message|
    .comment_error
      =message

  .form-inputs
    = f.input :name

  .form-actions
    = f.button :submit

= link_to 'Show', tag_path(@tag)
\|
= link_to 'Back', tags_path


= link_to 'Destroy', tag_path(@tag) , :method => :delete, :data => { :confirm => 'Are you sure?' }
