.gem_element
  .card
    %h5.card-header
      .index-card-left
        = link_to laser_gem.name, laser_gem_path(laser_gem.name)
        %small.text-muted
          = laser_gem.gem_spec.current_version
      .index-card-right
        %small.text-muted
          %i.fa.fa-trophy.tipit{ :title => "Total rank for this gem"}
          = rank_to_i laser_gem
    .card-block.tipster
      %p.card-text
        %small.small_info
          = truncate(laser_gem.gem_spec.info, length: 90, separator: ' ', omission: '... ')
        .whole_info
          = truncate(laser_gem.gem_spec.info, length: 300, separator: ' ')
        - if laser_gem.gem_git
          %p.card-text.text-xs-center
            .graph_box
              %svg{:viewbox => "0 0 315 #{max_y}" , class:  :index_graph}
                %polyline{:fill => "none", :points => "#{graph_lines(laser_gem)}" , :stroke => "#0074d9", "stroke-width" => "3"}
            = pluralize(total_commits(laser_gem), "commit", plural: "commits")
            this year.
      %p.card-text
        -laser_gem.taggings.each do |tagging|
          %span.tag.tag-default= tagging_link(tagging)
    .card-block.stats
      %span.card-link
        %i.fa.fa-arrow-circle-down{"aria-hidden": "true"}
        =k_numbers laser_gem.gem_spec.total_downloads
      - if laser_gem.gem_git
        %span.card-link
          %i.fa.fa-code-fork{"aria-hidden" => "true"}
          = k_numbers laser_gem.gem_git.forks_count
        %span.card-link
          %i.fa.fa-star{"aria-hidden" => "true"}
          = k_numbers laser_gem.gem_git.stargazers_count
        %span.card-link
          %i.fa.fa-eye{"aria-hidden" => "true"}
          = k_numbers laser_gem.gem_git.watchers_count
        %span.card-link
          %i.fa.fa-flag{"aria-hidden" => "true"}
          = k_numbers laser_gem.gem_git.open_issues_count
