.index
  .search
    .card
      .card-block
        .searchbox
          = search_form_for @q, method: :get  do |f|
            = f.search_field :gem_spec_name_or_gem_spec_info_cont , placeholder: "Search Text"
            = f.search_field :taggings_tag_name_eq , placeholder: "Search by tag"
            = f.submit
            %span.text-muted
              = pluralize(@laser_count.count, "gem", plural: "gems")
        .order
          Sort:
          = sort_link(@q, "total_rank" , default_order: :desc) do
            %i.fa.fa-trophy.tipit{ :title => "Sort by rank"}
          = sort_link(@q, "gem_spec_total_downloads" , default_order: :desc) do
            %i.fa.fa-arrow-circle-down.tipit{ :title => "Sort by downloads"}
          = sort_link(@q, "gem_git_last_commit" , default_order: :desc) do
            %i.fa.fa-clock-o.fa-fw.tipit{ :title => "Sort by last commit"}
          = sort_link(@q, "gem_git_stargazers_count" , default_order: :desc) do
            %i.fa.fa-star.tipit{ :title => "Sort by stargazers"}
          = sort_link(@q, "gem_git_watchers_count" , default_order: :desc) do
            %i.fa.fa-eye.tipit{ :title => "Sort by fork watchers"}
          = sort_link(@q, "gem_git_forks_count" , default_order: :desc) do
            %i.fa.fa-code-fork.tipit{ :title => "Sort by fork count"}


  .results
    .gem_pages#gem_pages
      =render @laser_gems
    .infinite-scrolling
      = will_paginate @laser_gems, :renderer => WillPaginate::ActionView::BootstrapLinkRenderer
