.gem_show_left
  .card
    %h4.card-header
      .header-left
        = @laser_gem.name
        %small.text-muted.pl-1
          = @laser_gem.gem_spec.current_version
      .header-right.small
        %i.fa.fa-trophy.fa-fw{"aria-hidden" => "true"}
        = rank_to_i @laser_gem
    .card-block
      %p.card-text
        = @laser_gem.gem_spec.info
      %p.card-text
        - @laser_gem.taggings.each do |tagging|
          %span.tag.tag-default= tagging_link(tagging)
        - if current_user
          = form_tag(add_tag_path(@laser_gem.name)) do
            = text_field_tag(:tag)
            %button.icon{id: "save_tag", type: "submit"}
              +
      %p.card-text.text-xs-right
        %span.card-link
          = link_to( @laser_gem.gem_spec.rubygem_uri, :target => "_blank") do
            =image_tag "rubygems_logo.png" , width: "20px" , height: "20px"
            RubyGems
        %span.card-link
          %i.fa.fa-file-text-o.fa-fw{"aria-hidden" => "true"}
          = link_to("Source code", @laser_gem.home_page, :target => "_blank")
        %span.card-link
          %i.fa.fa-book.fa-fw{"aria-hidden" => "true"}
          = link_to("Documentation", @laser_gem.gem_spec.documentation_uri, :target => "_blank")

  .card
    .card-header Related gems
    .card-block
      %p.card-text
        -if @laser_gem.find_related_tags.limit(15).first
          -related_gems(@laser_gem).each do |laser|
            =link_to_laser laser
        -else
          Sorry, we are not able to find any related gems.

  - if @laser_gem.dependents != nil
    .card
      .card-header Dependents
      .card-block
        %p.card-text
        - if @laser_gem.dependents.first
          - @laser_gem.dependents.limit(15).each do |dependent|
            = link_to_laser dependent
        - else
          This gem has no dependents.


  .card
    .card-header Dependencies
    .card-block
      %p.card-text
        - if @laser_gem.dependencies.first
          - @laser_gem.dependencies.limit(15).each do |dependency|
            = link_to_laser dependency
        - else
          This gem has no dependencies.

  .comments
    %h3
      Comments
      %i.fa.fa-comments-o.fa-lg.fa-fw{"aria-hidden": "true"}
    - if @laser_gem.comments.any?
      - @laser_gem.comments.each do |comment|
        %h5
          %i.fa.fa-user-circle-o.fa-lg.fa-fw{"aria-hidden": "true"}
          = comment.user.name
          %small.text-muted
            =time_ago_in_words comment.created_at
            ago
        .comment_body
          = comment.body
    - else
      No comments to show.
    - flash.each do |name, message|
      .comment_error
        =message
    - if current_user
      = form_tag(add_comment_path(@laser_gem.name)) do
        .field
          = text_area_tag(:comment_body)
        %button.btn.btn-secondary{id: "add_comment", type: "submit", method: :post} Add Comment

.gem_show_right
  .card
    .card-header
      %i.fa.fa-arrow-circle-down.fa-fw{"aria-hidden": "true"}
      Downloads
    .card-block
      %p.card-text
        This version:
        = k_numbers @laser_gem.gem_spec.current_version_downloads
      -if @laser_gem.gem_spec.current_version_creation
        %p.card-text
          Released
          = time_ago_in_words(@laser_gem.gem_spec.current_version_creation)
          ago
      %p.card-text
        Total:
        = k_numbers @laser_gem.gem_spec.total_downloads
      %p.card-text
        = @laser_gem.download_rank_string

  .card
    .card-header
      %i.fa.fa-heartbeat.fa-fw{"aria-hidden" => "true"}
      Activity
    - if @laser_gem.gem_git != nil
      .card-block
        %p.card-text
          = activity_chart(@laser_gem)
    .card-footer
      -if @laser_gem.gem_spec.build_date
        %i.fa.fa-calendar-plus-o.fa-fw{"aria-hidden": "true"}
        Created
        = time_ago_in_words(@laser_gem.gem_spec.build_date)
        ago

  - if @laser_gem.gem_git != nil
    .card
      .card-header
        %i.fa.fa-github.fa-fw{"aria-hidden" => "true"}
        GitHub stats
      .card-block
        %p.card-text
          %i.fa.fa-clock-o.fa-fw{"aria-hidden" => "true"}
          Last commit:
          = time_ago_in_words @laser_gem.gem_git.last_commit
          ago
        %p.card-text
          %i.fa.fa-code-fork.fa-fw{"aria-hidden" => "true"}
          Forks:
          = @laser_gem.gem_git.forks_count
        %p.card-text
          %i.fa.fa-star.fa-fw{"aria-hidden" => "true"}
          Stargazers:
          = @laser_gem.gem_git.stargazers_count
        %p.card-text
          %i.fa.fa-eye.fa-fw{"aria-hidden" => "true"}
          Watchers:
          = @laser_gem.gem_git.watchers_count
        %p.card-text
          %i.fa.fa-flag.fa-fw{"aria-hidden" => "true"}
          Open issues:
          = @laser_gem.gem_git.open_issues_count

  .card
    .card-header Authors
    .card-block
      %p.card-text
        = truncate(@laser_gem.gem_spec.authors, length: 200, separator: ' ', omission: '... ')
