//TODO Check if ANY OF THESE VARIABLES ARE not empty
.left
  .card
    .card-block
      %h4.card-title
        = @laser_gem.name
        %small.text-muted.pl-1.version
          Version:
          = @laser_gem.gem_spec.current_version
      %p.card-text
        = @laser_gem.gem_spec.info
      %p.card-text
        %span.tag.tag-default tag
      %p.card-text
        %a.card-link{:href => "#"} Homepage
        - @laser_gem.gem_spec.homepage_uri
        %a.card-link{:href => "#"} GitHub
        - @laser_gem.gem_spec.source_code_uri

  .card
    .card-block
      %p.card-text
        Dependencies:
        - @laser_gem.dependencies.each do |dependency|
          = link_to(dependency.name, laser_gem_path(dependency.name))

  .card-deck-wrapper
    .card-deck
      .card
        .card-block
          %p.card-text Related gems: LaserGem
      .card
        .card-block
          %p.card-text
            Dependents:
            - @laser_gem.dependents.each do |dependent|
              = link_to(dependent.name, laser_gem_path(dependent.name))

  .card
    .card-block
      %p.card-text
        Authors:
        = @laser_gem.gem_spec.authors

.right
  .card
    .card-block
      %p.card-text.total_downloads
        Total downloads:
        = k_numbers @laser_gem.gem_spec.total_downloads
      %p.card-text.version_downloads
        Version downloads:
        = k_numbers @laser_gem.gem_spec.current_version_downloads

  .card
    .card-block
      %p.card-text.build_date
        Build date:
        = @laser_gem.gem_spec.build_date

  .card
    .card-block
      %p.card-text.last_commit
        Last commit:
        = @laser_gem.gem_git.last_commit
      %p.card-text.forks_count
        Forks:
        = @laser_gem.gem_git.forks_count
      %p.card-text.stargazers_count
        Stargazers:
        = @laser_gem.gem_git.stargazers_count
      %p.card-text.watchers_count
        Watchers:
        = @laser_gem.gem_git.watchers_count
      %p.card-text.open_issues_count
        Open issues:
        = @laser_gem.gem_git.open_issues_count

.comments
  - @laser_gem.comments.each do |comment|
    = comment.user.name
    =time_ago_in_words comment.created_at
    ago
    = comment.body
  = form_tag(add_comment_path(@laser_gem.name)) do
    = text_area_tag :comment_body
  %button.btn.btn-default{id: "add_comment", type: "submit", method: :post}
    Add Reply
