.gem_element

  .gem_main
    .gem_name
      %h1= @laser_gem.name
      %span=  @laser_gem.gem_spec.current_version
    .gem_description
      %p= @laser_gem.gem_spec.info

    .gem_suggestions
      %h3 Related gems
      -4.times do
        .suggestion gem

    .gem_tags
      %h3 Related Tags
      .list
        -@laser_gem.tag_list.each do |tag|
          %p= @laser_gem.tag_list
      .input
        = form_tag(add_tag_path(@laser_gem.name)) do
          = text_field_tag(:tag)
          //= submit_tag 'Save'
          %button.icon{id: "save_tag", type: "submit"}
            %i.plus.icon

    .gem_dependents
      %h3 Depending gems
      .ui.celled.horizontal.list
        -@laser_gem.dependents.each do |dependent|
          .item= link_to(dependent.name, laser_gem_path(dependent.name))

    .gem_owners
      %h3 Owners
      %a.ui.olive.empty.circular.label;
      %a.ui.olive.empty.circular.label;
      %a.ui.olive.empty.circular.label;

    .gem_dependecies
      %h3 Depends on the following gems
      .ui.celled.horizontal.list
        -@laser_gem.dependencies.each do |dependency|
          .item= link_to(dependency.name, laser_gem_path(dependency.name))

  .gem_stats
    .gem_rank
      .value
        33
      .label #
      .value
        544
      .label Favorites
    .gem_downloads
      .gem_downloads_total
        .value
          =k_numbers @laser_gem.gem_spec.total_downloads
        .label Total Downloads
      .gem_downloads_current_version.tiny
        .value
          =k_numbers @laser_gem.gem_spec.current_version_downloads
        .label Current Version Downloads

    .gem_activity
      Active
    .gem_github
      = link_to("GitHub Page", @laser_gem.gem_spec.source_code_uri)

  .comments_section
    %h3 Comments
    -@laser_gem.comments.each do |comment|
      .comment
        %a.avatar
          =image_tag("bob.jpg")
        .content
          %a.author= comment.user.name
          .metadata
            %span.date
              =time_ago_in_words comment.created_at
              ago
          .text
            %p= comment.body

    = form_tag(add_comment_path(@laser_gem.name), class: "ui reply form") do
      .field
        = text_area_tag(:comment_body)
      %button.ui.green.labeled.submit.icon.button{id: "add_comment", type: "submit", method: :post}
        %i.icon.edit
        Add Reply
