.show_wrap
  .gem_column
    .gem_elements_left
      %h1
        = @laser_gem.name
      %p
        = @laser_gem.gem_spec.info
      %h3
        Last version:
        = @laser_gem.gem_spec.current_version

      %h3
        Authors: khkjhkjhl
      = link_to("GitHub Page", @laser_gem.gem_spec.source_code_uri)

    .gem_elements_right
      %h3 Total downloads
      %p
        = @laser_gem.gem_spec.total_downloads

      %h3 Rank & Position

      %ul Related Gems:
      %a.li{href:"https://github.com/colszowka/simplecov", target:"_blank"} simplecov
      %br
      %a.li{href:"https://github.com/bbatsov/rubocop", target:"_blank"} rubocop
      %br
      %a.li{href:"https://github.com/troessner/reek", target:"_blank"} reek
      %br
      %a.li{href:"https://github.com/lemurheavy/coveralls-ruby", target:"_blank"} coveralls


      %h3 Suggestions


    .comments
      %p Comments
      I sometimes use `model`.save, return the object and later check for `model`.errors
      so this approach would raise `check return value of save` but its not the case.

  .tag_column
    %h4 Tags
    %ul
    %a.li rails
    %br
    %a.li ruby
    %br
    %a.li metric tool

    %p Data
    %p Related Gems
    %p Related Tags
