.gem_element

  .gem_main
    .gem_name
      %h1= @laser_gem.name
      %span=  @laser_gem.gem_spec.current_version
    .gem_description
      %p= @laser_gem.gem_spec.info
    .gem_tags
      %h3 Related Tags
      .list
        -@laser_gem.tag_list.each do |tag|
          %p= tag
      .input
        = form_tag(add_tag_path(@laser_gem.name)) do
          = text_field_tag(:tag)
          //= submit_tag 'Save'
          %button.icon{id: "save_tag", type: "submit"}
            %i.plus.icon
    .gem_owners
      %h3 Owners
      %a.ui.olive.empty.circular.label;
      %a.ui.olive.empty.circular.label;
      %a.ui.olive.empty.circular.label;
    .gem_dependecies
      %h3 Gem Dependecies
      %ul
        %li gem
        %li gem
        %li gem
    .gem_dependents
      %h3 Gem Dependents
      %ul
        %li gem
        %li gem
        %li gem
    .gem_suggestions
      %h3 Suggestions
      %ul
        %li gem
        %li gem
        %li gem

  .gem_stats
    .gem_rank
      .value
        33
      .label #
      .value
        544
      .label Favorites
    .gem_downloads
      .gem_downloads_total
        .value
          = @laser_gem.gem_spec.total_downloads
        .label Total Downloads
      .gem_downloads_current_version
        .value
          = @laser_gem.gem_spec.current_version_downloads
        .label Current Version Downloads

    .gem_activity
      Active
    .gem_github
      = link_to("GitHub Page", @laser_gem.gem_spec.source_code_uri)

  //The following comments section is a direct extract code of the semantic-ui example, converted and adapted in haml.
  .comments_section
    %h3 Comments
    .comment
      %a.avatar
        %img{:src => "/images/avatar/small/matt.jpg"}/
      .content
        %a.author Matt
        .metadata
          %span.date Today at 5:42PM
        .text
          How artistic!
        .actions
          %a.reply Reply
    .comment
      %a.avatar
        %img{:src => "/images/avatar/small/elliot.jpg"}/
      .content
        %a.author Elliot Fu
        .metadata
          %span.date Yesterday at 12:30AM
        .text
          %p This has been very useful for my research. Thanks as well!
        .actions
          %a.reply Reply
    .comment
      %a.avatar
        %img{:src => "/images/avatar/small/joe.jpg"}/
      .content
        %a.author Joe Henderson
        .metadata
          %span.date 5 days ago
        .text
          Dude, this is awesome. Thanks so much
        .actions
          %a.reply Reply
    %form.ui.reply.form
      .field
        %textarea
      .ui.labeled.submit.icon.button
        %i.icon.edit
        Add Reply
