!!!
%html
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1, shrink-to-fit=no", :name => "viewport"}/
    %meta{:content => "ie=edge", "http-equiv" => "x-ua-compatible"}/
    %title Laser
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    %link{href: "//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css", rel:"stylesheet"}
    %link{href: "https://fonts.googleapis.com/css?family=Kaushan+Script|Satisfy", rel:"stylesheet"}
    %link{href: "https://fonts.googleapis.com/css?family=Pattaya|Raleway:900i|Timmana", rel:"stylesheet"}

  %body
    .header
      .logo
      %svg{:height => "300", :viewbox => "0 0 40 40", :width => "300"}
        %defs
          %lineargradient#Gradient-1{:x1 => "0", :x2 => "100%", :y1 => "0", :y2 => "0"}
            %stop{:offset => "0%", "stop-color" => "lightred"}
            %stop{:offset => "100%", "stop-color" => "#ef5b2b"}

          %lineargradient#Gradient-2{:x1 => "0", :x2 => "100%", :y1 => "0", :y2 => "0"}
            %stop{:offset => "0%", "stop-color" => "#ffff66"}
            %stop{:offset => "50%", "stop-color" => "#ffffe6"}
            %stop{:offset => "100%", "stop-color" => "#ffffff"}

        %polygon.tri1.left{:fill => "url(#Gradient-1)", :points => "0,8.66 5,0 10,8.66", :stroke => "#FF8A65", "stroke-width" => "0.4"}
        %polygon.tri2.left{:fill => "url(#Gradient-1)", :points => "7.5,0 12.5,8.66 17.5,0", :stroke => "#FF8A65", "stroke-width" => "0.4"}
        %polygon.tri3.center{:fill => "url(#Gradient-1)", :points => "20,0 15,8.66 25,8.66", :stroke => "#FF8A65", "stroke-width" => "0.4"}
        %polygon.tri4.right{:fill => "url(#Gradient-1)", :points => "22.5,0 27.5,8.66 32.5,0", :stroke => "#FF8A65", "stroke-width" => "0.4"}
        %polygon.tri5.right{:fill => "url(#Gradient-1)", :points => "35,0 30,8.66 40,8.66", :stroke => "#FF8A65", "stroke-width" => "0.4"}
        %polygon.bigtri1.left{:fill => "url(#Gradient-1)", :points => "0,10 17.5,40 12.5,10", :stroke => "#FF8A65", "stroke-width" => "0.4"}
        %polygon.bigtri2.center{:fill => "url(#Gradient-1)", :points => "15,10 20,40 25,10", :stroke => "#FF8A65", "stroke-width" => "0.4"}
        %polygon.bigtri3.right{:fill => "url(#Gradient-1)", :points => "27.5,10 22.5,40 40,10", :stroke => "#FF8A65", "stroke-width" => "0.4"}

        %polygon.thunderbolt{:fill => "url(#Gradient-2)", :points => "20,0 10,22.5 20,22.5 20,40 30,17.5 20,17.5", :stroke => "#FF8A65", "stroke-width" => "0.4"}

        .nav
          -if user_signed_in?
            =link_to "Log Out", destroy_user_session_path
          -else
            =link_to "Log In", new_user_session_path
            =link_to "Sign Up", new_user_registration_path


    .message
      -flash.each do |name, message|
        =name
        =message
    .content
      =yield
    .footer
      .col.menu
        .ui.list
          %a.item
            = link_to 'About us', about_path
          %a.item
            = link_to 'Frequently Asked Questions', faq_path
          %a.item
            = link_to 'Ruby for Newbies', ruby_for_newbies_path
      .col.sponsor
        %p Sponsored by:
        = image_tag "webdevcamp.png"
        %p Web Dev Camp
      .col.etc1
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      .col.etc2
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
